@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

head {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  display: flex;
}

@font-face {
  font-family: "Rebel Bones";
  src: url("/fonts/rebel-bones.woff2") format("woff2"),
    url("/fonts/rebel-bones.woff") format("woff"),
    url("/fonts/rebel-bones.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
