@import url("https://fonts.cdnfonts.com/css/rebel-bones");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-rebel {
  font-family: "Rebel Bones", sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
  color: white !important;
  z-index: 30 !important;
}

.swiper-pagination {
  z-index: 30 !important;
}

.swiper-pagination-bullet {
  background: white !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

/* Garante que o slider ocupe todo o espaço */
.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

/* Ajustes para os pontos de navegação */
.slick-dots li button:before {
  color: white !important;
  opacity: 0.5 !important;
}

.slick-dots li.slick-active button:before {
  color: #d52b1e !important;
  opacity: 1 !important;
}

/* Garante que as imagens do carrossel fiquem centralizadas */
.slick-slide > div {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
/* Ajustes finos para o carrossel */
.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.slick-dots {
  bottom: 10px;
}

.slick-dots li button:before {
  color: white;
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  color: #d52b1e;
}

/* Sobrescreve estilos do slick para centralização */
.slick-slide > div {
  height: 100%;
}

.slick-track {
  display: flex !important;
  height: 100%;
}

.slick-list {
  height: 100%;
}
