@import url('https://fonts.cdnfonts.com/css/rebel-bones');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-rebel {
  font-family: 'Rebel Bones', sans-serif;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    z-index: 30 !important;
}

.swiper-pagination {
    z-index: 30 !important;
}

.swiper-pagination-bullet {
    background: white !important;
}

.swiper-pagination-bullet-active {
    background: white !important;
}