@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Rebel Bones';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Rebel Bones'), local('RebelBones');
  }
}

.font-rebel {
  font-family: 'Rebel Bones', 'Oswald', sans-serif;
}

.font-oswald {
  font-family: 'Oswald', sans-serif;
}

.swiper-button-next,
.swiper-button-prev {
    color: white !important;
    z-index: 30 !important;
}

.swiper-pagination {
    z-index: 30 !important;
}

.swiper-pagination-bullet {
    background: white !important;
}

.swiper-pagination-bullet-active {
    background: white !important;
}